@import "../../../assets/css/variables.scss";

.errorMsg {
    color: $fontRed;
    font-weight: bold;
}

.loader img {
    height: 130px;
}

.avatar {
    .avatar-img {
        width: 150px;
        height: 150px;
        background-size: 150px;
        background-repeat: no-repeat;
        border-radius: 75px;
        position: flex;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .layer {
        background-color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 75px;
        cursor: pointer;

        i {
            margin-top: 50%;
            font-size: 34px;
            transform: translateY(-50%);
            color: transparent;
        }
    }

    .layer:hover {
        background-color: rgba(0, 0, 0, 0.5);

        i {
            color: white;
        }
    }
}

.table th,
.table td {
    vertical-align: middle;
}