<div class="card">
    <div class="card-body">
        <div class="card-title text-center">
            <h3>Profile <i class="fa fa-question-circle" aria-hidden="true" (click)="showHelpTour('profile-tour')"></i></h3>
        </div>
        <form (submit)="doUpdate($event)" *ngIf="isLoad">
            <div class="avatar text-center">
                <div [ngStyle]="{'background-image': 'url(' + user.avatar + ')'}" class="avatar-img tour-profile-avatar">
                    <div class="layer" (click)="openChangeAvatar()">
                        <i class="fa fa-photo"></i>
                    </div>
                    <input #fileInput (change)="changeAvatar($event)" style="display: none;" type="file" accept=".png" hidden>
                </div>
            </div>
            <hr>
            <div class="input-group form-group tour-profile-pseudo">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <input [(ngModel)]="user.pseudo" type="text" class="form-control" name="pseudo" id="pseudo" required>
                <label class="form-control-placeholder" for="pseudo">Pseudo</label>
            </div>
            <div class="input-group form-group tour-profile-email">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-at" aria-hidden="true"></i>
                    </span>
                </div>
                <input [(ngModel)]="user.email" type="text" class="form-control" name="email" id="email" required>
                <label class="form-control-placeholder" for="email">Email</label>
            </div>
            <div class="input-group form-group tour-profile-default-currency">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                </div>
                <select class="form-control" [(ngModel)]="user.defaultCurrency" name="defaultCurrency" id="defaultCurrency">
                    <option [value]="currency.key" *ngFor="let currency of getCurrenciesKeys(); let i = index">{{currency.value}}</option>
                </select>
                <label class="form-control-placeholder" for="defaultCurrency">Default currency</label>
            </div>
            <div class="input-group form-group tour-profile-filters">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Keywords</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let filter of user.filters; let i = index; trackBy: trackByIndex;">
                            <th scope="row">{{i + 1}}</th>
                            <td>
                                <div class="input-group form-group" [ngClass]="{'tour-profile-filter-field': i == 0}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <input [(ngModel)]="user.filters[i]" type="text" class="form-control" [name]="'filter' + (i + 1)" [id]="'filter' + (i + 1)" required>
                                    <label class="form-control-placeholder" [for]="'filter' + (i + 1)">Keyword {{i + 1}}</label>
                                </div>
                            </td>
                            <td>
                                <button [disabled]="onUpdate" class="btn btn-danger" (click)="deleteFilter($event, i)" [ngClass]="{'tour-profile-delete': i == 0}"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button [disabled]="onUpdate" class="btn btn-primary tour-profile-add" (click)="addFilter($event)"><i class="fa fa-plus"></i> Add filter</button>
            </div>
            <p>
                <span *ngIf="error.length > 0" class="errorMsg">{{error}}</span>
            </p>
            <div class="w-100 text-center">
                <button [disabled]="onUpdate" class="btn btn-success tour-profile-update" type="submit"><i class="fa fa-floppy-o"></i> Update</button>
            </div>
        </form>
        <div class="loader text-center" *ngIf="!isLoad">
            <img src="../../../assets/img/loader.gif" alt="loader.gif">
            <p>
                <span *ngIf="error.length > 0" class="errorMsg">{{error}}</span>
            </p>
        </div>
    </div>
</div>