<div class="filter-activator">
    <div class="custom-control custom-switch">
        <input (click)="onClickFilter()" type="checkbox" class="custom-control-input tour-home-filters" id="customSwitches">
        <label class="custom-control-label" for="customSwitches">Filters</label>
    </div>
</div>
<div *ngIf="isLoaded" class="fil-articles container">
    <i class="fa fa-question-circle" aria-hidden="true" (click)="showHelpTour('home-tour')"></i>
    <div class="row">
        <div *ngFor="let articles of articlesList; let i = index" class="card col-xs-12 col-sm-10 col-md-6 col-lg-3" [ngClass]="{'tour-home-container': i == 0}">
            <img class="image-article" [src]="articles.imageurl" alt="Card image cap" [ngClass]="{'tour-home-image': i == 0}">
            <div class="card-body">
                <h5 class="card-title" [ngClass]="{'tour-home-title': i == 0}">{{articles.title}}</h5>
                <a target="_blank" [href]="articles.url" class="btn btn-primary" [ngClass]="{'tour-home-link': i == 0}">Go to {{articles.source_info.name}}</a>
            </div>
            <div class="card-footer">
                <span [ngClass]="{'tour-home-upvotes': i == 0}">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    {{articles.upvotes}}
                </span>
                <span [ngClass]="{'tour-home-downvotes': i == 0}">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    {{articles.downvotes}}
                </span>
                <span *ngIf="articles.published_today == 0" class="articleDate" [ngClass]="{'tour-home-date': i == 0}">{{articles.published_on_date | date: 'dd/MM/yyyy'}}</span>
                <span *ngIf="articles.published_today == 1" class="articleDate" [ngClass]="{'tour-home-date': i == 0}">{{articles.published_on_date | date: 'HH'}}h{{articles.published_on_date | date: 'mm'}}</span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isLoaded && error.length == 0" class="spinner-grow text-primary" role="status"></div>
<p *ngIf="error.length > 0" class="errorMsg">
    <span>{{error}} </span>
    <i class="fa fa-exclamation-triangle"></i>
</p>