.fil-articles {
    margin-top: 125px;
    width: 100%;
    border-radius: 50px;
}

.card {
    border-radius: 25px;
    background-color: #00bc8c;
    padding: 5px;
    margin: 30px;
}

.image-article {
    width: 100%;
    border-radius: 20px;
}

.card-title {
    font-size: large;
}

.card-text {
    font-size: small;
}

.btn-primary {
    background-color: #222;
    border-color: #222;
}

.spinner-grow {
    margin-left: calc(50% - 75px);
    margin-top: 20%;
    width: 150px;
    height: 150px;
    background-color: #00bc8c;
}

.errorMsg {
    color: rgb(255, 21, 68);
    font-size: xx-large;
    margin-left: 50px;
    animation-duration: 1.5s;
    animation-name: progressiveDisplay;
    animation-iteration-count: infinite;
}

@keyframes progressiveDisplay {
    from {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.card-footer {
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    display: inline-block;
}

.fa-thumbs-up {
    color: #00bc8c;
    margin-left: 15px;
    margin-right: 5px;
}

.fa-thumbs-down {
    color: crimson;
    margin-left: 15px;
    margin-right: 5px;
}

.articleDate {
    float: right;
    margin-right: 10px;
}

.filter-activator {
    height: 50px;
    background-color: #222;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff !important;
    border-color: #00bc8c !important;
    background-color: #00bc8c !important;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(1.34em);
}

.custom-switch .custom-control-label::before {
    left: 1rem;
    width: 4rem !important;
    height: 2rem !important;
    border-radius: 1rem !important;
}

.custom-switch .custom-control-label::after {
    left: calc(1rem + 2px);
    width: calc(2rem - 4px) !important;
    height: calc(2rem - 4px) !important;
    border-radius: 1rem !important;
}

.custom-control-label {
    font-size: x-large !important;
    font-weight: bold !important;
    position: unset !important;
    margin-left: 56px !important;
}

.custom-control-label::before {
    border: #00bc8c solid  1px !important;
}