<div class="card">
    <div class="card-body">
        <div class="card-title text-center">
            <h3>Admin <i class="fa fa-question-circle" aria-hidden="true" (click)="showHelpTour('admin-tour')"></i></h3>
        </div>
        <div class="input-group form-group tour-admin-cryptos-table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Short name</th>
                        <th scope="col">Logo</th>
                        <th scope="col">Enabled</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let crypto of cryptos; let i = index; trackBy: trackByIndex;">
                        <th scope="row">{{i + 1}}</th>
                        <td>
                            <div class="input-group form-group" [ngClass]="{'tour-admin-crypto-name-field': i == 0}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-font" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="cryptos[i].name" type="text" class="form-control" [name]="'cryptos-name-' + (i + 1)" [id]="'cryptos-name-' + (i + 1)" required>
                                <label class="form-control-placeholder" [for]="'cryptos-name-' + (i + 1)">Name</label>
                            </div>
                        </td>
                        <td>
                            <div class="input-group form-group" [ngClass]="{'tour-admin-crypto-shortname-field': i == 0}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-font" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="cryptos[i].shortName" type="text" class="form-control" [name]="'cryptos-shortname-' + (i + 1)" [id]="'cryptos-shortname-' + (i + 1)" required>
                                <label class="form-control-placeholder" [for]="'cryptos-shortname-' + (i + 1)">Short name</label>
                            </div>
                        </td>
                        <td>
                            <div class="input-group form-group" [ngClass]="{'tour-admin-crypto-logo-field': i == 0}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-photo" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="cryptos[i].logo" type="text" class="form-control" [name]="'cryptos-logo-' + (i + 1)" [id]="'cryptos-logo-' + (i + 1)" required>
                                <label class="form-control-placeholder" [for]="'cryptos-logo-' + (i + 1)">Logo</label>
                            </div>
                        </td>
                        <td>
                            <div class="form-check" [ngClass]="{'tour-admin-crypto-enable-field': i == 0}">
                                <input [(ngModel)]="cryptos[i].enable" type="checkbox" class="form-check-input" [name]="'cryptos-enable-' + (i + 1)" [id]="'cryptos-enable-' + (i + 1)" required>
                            </div>
                        </td>
                        <td>
                            <button [disabled]="onAction" class="btn btn-success" (click)="saveCrypto($event, i)" [ngClass]="{'tour-admin-crypto-save-button': i == 0}"><i class="fa fa-save"></i></button>
                            &nbsp;
                            <button [disabled]="onAction" class="btn btn-danger" (click)="deleteCrypto($event, i)" [ngClass]="{'tour-admin-crypto-delete-button': i == 0}" *ngIf="cryptos[i]._id"><i class="fa fa-trash"></i></button>
                            &nbsp;
                            <button [disabled]="onAction" class="btn btn-warning" (click)="cancelCrypto($event, i)" [ngClass]="{'tour-admin-crypto-cancel-button': i == 0}" *ngIf="!cryptos[i]._id"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button [disabled]="onAction" class="btn btn-primary tour-admin-crypto-add-button" (click)="addCrypto($event)"><i class="fa fa-plus"></i> Add crypto</button>
        </div>
    </div>
</div>