<div class="card">
    <div class="card-body">
        <div class="card-title text-center">
            <h3>Login <i class="fa fa-question-circle" aria-hidden="true" (click)="showHelpTour('login-tour')"></i></h3>
        </div>
        <form (submit)="doLogin($event)">
            <div class="input-group form-group tour-login-login">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <input [(ngModel)]="login" type="text" class="form-control" name="login" id="login" required>
                <label class="form-control-placeholder" for="login">Login</label>
            </div>
            <div class="input-group form-group tour-login-password">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <input [(ngModel)]="password" type="password" class="form-control" name="password" id="password" required>
                <label class="form-control-placeholder" for="password" onclick="">Password</label>
            </div>
            <p>
                <span *ngIf="error.length > 0" class="errorMsg">{{error}}</span>
            </p>
            <div class="w-100 text-center">
                <button [disabled]="onConnection" class="btn btn-success tour-login-login-button" type="submit"><i class="fa fa-sign-in"></i> Login</button>
                <button [disabled]="onConnection" (click)="redirect($event, 'signup')" class="btn btn-primary tour-login-signup-button"><i class="fa fa-plus"></i> Signup</button>
            </div>
        </form>
        <hr class="my-4">
        <div class="w-100 text-center">
            <button [disabled]="onConnection" class="btn btn-primary tour-login-google" (click)="doLoginGoogle()">Continue with Google</button>
        </div>
    </div>
</div>