<div class="card">
    <div class="card-body">
        <div class="card-title text-center">
            <h3>Cryptos <i class="fa fa-question-circle" aria-hidden="true" (click)="showHelpTour('cryptos-tour')"></i></h3>
        </div>
        <div class="loader text-center" *ngIf="!isLoad || error.length > 0">
            <img src="../../../assets/img/loader.gif" alt="loader.gif">
            <p>
                <span *ngIf="error.length > 0" class="errorMsg">{{error}}</span>
            </p>
        </div>
        <div *ngIf="isLoad && error.length == 0">
            <div class="card">
                <div class="card-header">
                    <h4>Criteria</h4>
                </div>
                <div class="card-body">
                    <div class="input-group form-group tour-cryptos-period-value">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input [(ngModel)]="periodValue" type="number" class="form-control" name="periodValue" id="periodValue" min="0" required>
                        <label class="form-control-placeholder" for="login">Period value</label>
                    </div>
                    <div class="input-group form-group tour-cryptos-period">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                        <select class="form-control" [(ngModel)]="period" name="period" id="period">
                            <option [value]="periodEnum.key" *ngFor="let periodEnum of getPeriodKeys(); let i = index">{{periodEnum.value}}</option>
                        </select>
                        <label class="form-control-placeholder" for="period">Period</label>
                    </div>
                    <div class="w-100 text-center">
                        <button class="btn btn-success tour-cryptos-apply" (click)="applyCriteria()"><i class="fa fa-search"></i> Apply</button>
                    </div>
                </div>
            </div>
            <div id="accordion">
                <div class="card tour-cryptos-cryptos" *ngFor="let crypto of cryptos; let i = index">
                    <div class="card-header">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#crypto' + i" aria-expanded="true" [attr.aria-controls]="'crypto' + i" (click)="getHisto(crypto.shortName, i)">
                                <img [src]="crypto.logo" class="crypto-logo" [ngClass]="{'tour-cryptos-logo': i == 0}" alt="Crypto logo">
                                {{crypto.name}} - {{crypto.shortName}}
                                <span class="badge badge-warning" [ngClass]="{'tour-cryptos-eur': i == 0}"><i class="fa fa-eur crypto" aria-hidden="true"></i> {{crypto.eur | currency:"":""}}</span>
                                <span class="badge badge-warning" [ngClass]="{'tour-cryptos-usd': i == 0}"><i class="fa fa-usd crypto" aria-hidden="true"></i> {{crypto.usd | currency:"":""}}</span>
                            </button>
                        </h5>
                    </div>
                    <div [id]="'crypto' + i" class="collapse" [ngClass]="{'show': i === 0}" data-parent="#accordion">
                        <span *ngIf="loggedUser">
                            <div class="card-body" *ngIf="cryptosHistory[i] !== null" [ngClass]="{'tour-cryptos-chart': i == 0}">
                                <canvas baseChart [chartType]="'line'" [datasets]="chartsData[i]" [labels]="chartsLabels[i]" [options]="chartOptions" [legend]="true">
                                </canvas>
                            </div>
                            <div class="loader text-center" *ngIf="cryptosHistory[i] === null">
                                <img src="../../../assets/img/loader.gif" alt="loader.gif">
                            </div>
                        </span>
                        <span *ngIf="!loggedUser">
                            You should be connected to view history.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>