@import "../../../assets/css/variables.scss";

.errorMsg {
    color: $fontRed;
    font-weight: bold;
}

.loader img {
    height: 130px;
}

.card {
    margin-bottom: 15px;

    .crypto-logo {
        width: 40px;
        margin-right: 15px;
    }

    .badge {
        margin-left: 7px;
        font-size: 20px;

        .crypto {
            font-size: 15px;
        }
    }
}

.card-img-top {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}

.fa-arrow-down {
    margin-left: 15px;
    font-size: 20px;
}