<div class="card">
    <div class="card-body text-center">
        <div class="card-title text-center">
            <h3>Oops, error 404 - Page not found</h3>
        </div>
        <img src="../../../assets/img/404.gif" alt="404.gif">
        <br>
        <a href="/home">
            <button class="btn btn-primary">Go back to home</button>
        </a>
    </div>
</div>