<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand tour-header-brand" href="/home">CryptoWeb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item tour-header-home">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item tour-header-cryptos">
                <a class="nav-link" href="/cryptos">Cryptos</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item tour-header-login" *ngIf="user == null">
                <a class="nav-link" href="/login">Log in</a>
            </li>
            <li class="nav-item tour-header-signup" *ngIf="user == null">
                <a class="nav-link" href="/signup">Sign up</a>
            </li>
            <li class="nav-item tour-header-admin" *ngIf="user != null && user.admin">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item tour-header-profile" *ngIf="user != null">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item tour-header-logout" *ngIf="user != null">
                <a class="nav-link" href="/home" (click)="disconnectUser()">Log out</a>
            </li>
        </ul>
        <i class="fa fa-question-circle" aria-hidden="true" (click)="showHelpTour('header-tour')"></i>
    </div>
</nav>