:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    font-size: x-large;
    font-weight: 900;
}

.nav-link {
    font-weight: bold !important;
    font-size: large;
}

.bg-light.navbar-light .navbar-nav .nav-link:focus,
.bg-light.navbar-light .navbar-nav .nav-link:hover,
.bg-light.navbar-light .navbar-nav .active>.nav-link {
    background-color: white !important;
    border-radius: 15px !important;
    font-weight: bold !important;
    color: #00bc8c !important;
}