@import '../node_modules/ngx-guided-tour/scss/guided-tour-base-theme.scss';

.form-group {
    position: relative;
    margin-top: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 0;
    padding: 7px 0 0 45px;
    transition: all 200ms;
    opacity: 0.5;
    color: black;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    color: white;
}

.fa-question-circle {
    font-size: 25px;
    cursor: pointer;
}