<div class="card">
    <div class="card-body">
        <div class="card-title text-center">
            <h3>Signup <i class="fa fa-question-circle" aria-hidden="true" (click)="showHelpTour('signup-tour')"></i></h3>
        </div>
        <form (submit)="doSignup($event)">
            <div class="input-group form-group tour-signup-pseudo">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                </div>
                <input [(ngModel)]="pseudo" type="text" class="form-control" name="pseudo" id="pseudo" required>
                <label class="form-control-placeholder" for="pseudo">Pseudo</label>
            </div>
            <div class="input-group form-group tour-signup-email">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-at" aria-hidden="true"></i>
                    </span>
                </div>
                <input [(ngModel)]="email" type="text" class="form-control" name="email" id="email" required>
                <label class="form-control-placeholder" for="email">Email</label>
            </div>
            <div class="input-group form-group tour-signup-password">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <input [(ngModel)]="password" type="password" class="form-control" name="login" id="login" required>
                <label class="form-control-placeholder" for="password">Password</label>
            </div>
            <div class="input-group form-group tour-signup-password-repeat">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <input [(ngModel)]="passwordRepeat" type="password" class="form-control" name="passwordRepeat" id="passwordRepeat" required>
                <label class="form-control-placeholder" for="passwordRepeat">Password repeat</label>
            </div>
            <p>
                <span *ngIf="error.length > 0" class="errorMsg">{{error}}</span>
            </p>
            <div class="w-100 text-center">
                <button [disabled]="onSignup" class="btn btn-success tour-signup-signup-button" type="submit"><i class="fa fa-plus"></i> Signup</button>
                <button [disabled]="onSignup" (click)="redirect($event, 'login')" class="btn btn-primary tour-signup-login-button"><i class="fa fa-sign-in"></i> Login</button>
            </div>
        </form>
    </div>
</div>